<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bookworm-Add</title>
</head>
<body>
    <div class="container-fluid header">
        <h1 class="text-light  text-center py-4 text-decoration-underlin">~Book<i class="text-warning">Worm</i>~</h1>
        <nav class="navbar text-light p-2 mb-5">
            <div class="container-xxl">
                <div class=" d-flex justify-content-between m-auto">
                    <h3><a class="link-warning text-decoration-none mx-3" href="/books">Home</a></h3>
                    <h3><a class="link-warning text-decoration-none mx-3" href="/books/add">Review</a></h3>
                    <h3><a class="link-warning text-decoration-none mx-3" href="/{{user.id}}">Profile</a></h3>
                    <h3><a class="link-warning text-decoration-none" href="/logout">Logout</a></h3>
                </div>
        </nav>
        <div class="container pt-3">
            <h1 class="text-center text-light">Welcome {{user.alias}}!</h1>
            <h1 class="text-center text-light mt-5">Review, Rate, Add, And Learn About New Books! </h1>
            <p class="text-center text-light"><strong> If you love books, then you've come to the right place!</strong> </p>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container p-3 d-flex justify-content-around mb-4">
        <div class="container p-3 rounded me-3 border border-2 border-warning bg-dark bg-gradient">
            <form action="/books/create", method="post">
                {% csrf_token %}
                <h3 class="text-warning">Add a book and review it...</h3>
                <p><input class="bg-transparent rounded border border-warning text-warning" type="text", name="title" placeholder="Book Title"></p>
                <p><input class="bg-transparent rounded border border-warning text-warning" type="text" name="author" placeholder="Author"></p>
                <p><textarea class="bg-transparent rounded border border-warning text-warning" name="review" id="review" cols="30" rows="10" placeholder="Review"></textarea></p>
                <p><input class="bg-transparent rounded border border-warning text-warning" type="number" name="rating" min="1" max="5" placeholder="Rate"></p>
                <button class="btn btn-dark text-warning bg-gradient border border-warning">Submit</button>
            </form>
        </div>
        <div class="container p-3 border border-2 rounded border-warning bg-dark bg-gradient">
            <h3 class="text-warning">...or review an existing book</h3>
            <form action="/books/add_review" method="post">
                {% csrf_token %}
                <p><select class="bg-transparent w-50 rounded border border-warning text-warning" name="id" id="">
                    {% for book in books %}
                        <option value="{{book.id}}">{{book.title}} by {{book.author}}</option>
                    {% endfor %}
                </select></p>
                <p><textarea class="bg-transparent rounded border border-warning text-warning" name="review" id="review" cols="30" rows="10" placeholder="Review"></textarea></p>
                <p><input class="bg-transparent rounded border border-warning text-warning" type="number" name="rating" min="1" max="5" placeholder="Rate"></p>
                <button class="btn btn-dark text-warning bg-gradient border border-warning">Submit Review</button>
                
            </form>
        </div>
    </div>
    <footer class="p-3 bg-dark">
        <p class="text-center text-warning mb-0"><strong>Connect With Me</strong></p>
        <div class="d-flex justify-content-center align-items-center">
            <a class="link-warning p-1" href="#">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a class="link-warning p-1" href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="link-warning p-1" href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </div>
        <p class="text-center text-warning mb-0">&copy;Copyrights <strong class="text-light">Book</strong><i class="text-warning">Worm</i>. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>