.main{
    background-image: url(../img/wepik-2022229-142624.jpg);
    height: 350px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 700px;
    animation: change 20s infinite ease-in-out;
}
@keyframes change{
    0%{
        background-image: url(../img/wepik-2022231-75039.png);
        background-position: bottom;
    }
    25%{
        background-image: url(../img/wepik-2022231-74156.png);
        background-position: center;
    }
    50%{
        background-image: url(../img/wepik-2022231-75313.png);
        background-position: top;
    }
    75%{
        background-image: url(../img/wepik-2022231-7486.png);
        background-position: center;
    }
    100%{
        background-image: url(../img/wepik-2022231-75039.png);
        background-position: bottom;
    }
}

.form{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    width: 150px;
    height: 400px;
}

.footer{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);

}

.form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px gold solid;
}
form{
    height: 300px;
}
button{
    border: none;
}
